
# Playwright
node_modules/
/test-results/
/playwright-report/
/allure-results/
/allure-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.vscode/
.env

# Copilot prompts
.github/prompts/
.github/copilot-instructions.md
.github/instructions/
