# Composite action for environment
name: 'Environment'
description: 'Set up environment variables'
runs:
  using: 'composite'
  steps:
    - name: Create .env file
      run: |
        echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> .env
        echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> .env
      shell: bash
