name: Playwright Tests

# ----------------------------------------------
# Triggers
# ----------------------------------------------
on:
  workflow_dispatch:
  push:
    branches: [ main ]

# ----------------------------------------------
# Jobs
# ----------------------------------------------
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
    steps:

    # Pre-Requisites -------------------------------------
    - uses: ./.github/actions/setup

    - uses: ./.github/actions/environment
      with:
        user_email: ${{ secrets.USER_EMAIL }}
        user_password: ${{ secrets.USER_PASSWORD }}

    # Test Execution -----------------------------
    - uses: ./.github/actions/test-execution

    # Playwright Reporting (Github) ----------------------------------
    - uses: ./.github/actions/reporting

    # Allure Reporting ----------------
    - uses: ./.github/actions/allure-history-persistence

    - uses: ./.github/actions/allure-report-publishing
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - uses: ./.github/actions/generate-allure-reports-landing-page
        

        





