name: Playwright Tests

# ----------------------------------------------
# Trigger
# ----------------------------------------------
on:
  workflow_dispatch:
    inputs:
      runner:
        description: 'Where to run tests'
        required: true
        default: 'self-hosted'
        type: choice
        options:
          - self-hosted
          - ubuntu-latest
  push:
    branches: [ main, master ]

# ----------------------------------------------
# Jobs
# ----------------------------------------------
jobs:
  test:
    timeout-minutes: 60
    runs-on: ${{ github.event.inputs.runner || 'self-hosted' }}
    permissions:
      contents: read
      checks: write
    steps:

    # Setup -------------------------------------
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci

    # Environment --------------------------------
    - name: Create .env file
      run: |
        echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> .env
        echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> .env

    # Test Execution -----------------------------
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test

    # Reporting ----------------------------------
    - name: Playwright Report Summary
      uses: daun/playwright-report-summary@v3
      if: ${{ !cancelled() }}
      with:
        report-file: test-results/results.json
        job-summary: true
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: ${{ !cancelled() }}
      with:
        name: Test Summary
        path: test-results/results.xml
        reporter: java-junit
