name: Playwright Tests

# ----------------------------------------------
# Triggers
# ----------------------------------------------
on:
  workflow_dispatch:
  push:
    branches: [ main ]

# ----------------------------------------------
# Jobs
# ----------------------------------------------
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
    steps:

    # Setup -------------------------------------
    - uses: ./.github/actions/setup.yml

    # Environment --------------------------------
    - uses: ./.github/actions/environment.yml

    # Test Execution -----------------------------
    - uses: ./.github/actions/test-execution.yml

    # Reporting ----------------------------------
    - uses: ./.github/actions/reporting.yml

    # Allure History Persistence ----------------
    - uses: ./.github/actions/allure-history-persistence.yml

    # Allure Report Publishing --------------------
    - uses: ./.github/actions/allure-report-publishing.yml

    # Generate Allure reports landing page
    - uses: ./.github/actions/generate-allure-reports-landing-page.yml
        

        





